@import "./partials/footer/footer.scss";
@import "./partials/header/header.scss";
@import "./partials/portfolioItem/portfolioItem.scss";
@import "./partials/skillsItem/skillsItem.scss";

html{
  font-family: 'Noto Sans', sans-serif;
}
body * {
  // outline: 1px solid lightgrey;
}
.contaiter{
  width: 960px;
  margin: 0 auto;
}
.color-text{
  color:#070707;
}
.my-foto{
  padding-bottom: 50px;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  } 
  &__header .name{
    font-size: 48px;
    font-weight: 800;
  }
  &__header .languare{
    font-size: 24px;
    font-weight: 900;
  }
  &__header .description{
    font-size: 18px;
    // font-weight: 900;
  }
  &__img{
    background-image: url("./img/OpenWebRX-2.jpg");
    background-repeat: no-repeat;
    height: 510px;
    width: 100%;
  }
}
.about-me{
  background: #F6F6F6;
  text-align: center;
  padding: 100px 0;
  &__titel{
    padding: 20px;
    font-size: 34px;
  }
  &__description{
    font-size: 18px;
  }
}
.skills{
  padding: 0 0;
  text-align: center;
  &__titel{
    padding: 30px 0;
    font-size: 34px;
  }
  h2{
    padding: 30px 30px 0 0;
  }
  &__discription{
    font-size:  18px;
    padding: 0px 0px 85px 0;
  }
  &__soft-skills{
    display: flex;
    justify-content: space-around;
  }
}
.portfolio{
  background: #F6F6F6;
  text-align: center;
  
  padding: 100px 0;
&__titel{
  font-size: 34px;
}
&__articels{
  text-decoration:none;
  color: #070707;
}
}
@media screen and (max-width: 600px) {
  .contaiter {
    width: 590px;
    margin: 0 auto;
 } 
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .contaiter {
    width: 960px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contaiter {
    width: 760px; } }

@media screen and (max-width: 767px) {
  .contaiter {
    width: 480px; } }