// ------------------------- ОБНУЛЕНИЕ -----------------------------------//
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }
// ----------------------- END ОБНУЛЕНИЕ ---------------------------------//
html, body {
    height: 100%;
    line-height: 1;
}
body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    color: #000000;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 1 auto;
}
.animation{
    height: 700px;
    width: 100%;
    &__titel{
        padding: 15px;
    }
}
.animation .container{
    display:flex;
    justify-content: center;
    align-items: center;
    //min-height: 100vh;// на полный экран по высоте
    height: 100%;
    background: #0e1538;
}
.font-ariel{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}
.box::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff, #e5e5e5);
    animation: animate 4s linear infinite;
}
.box::after{
    content: "";
    position: absolute;
    inset: 10px;
    background: #0e1538;
    border-radius: 10px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box h2{
    position: relative;
    color: #ffffff;
    font-size: 10em;
    z-index: 10;
}
//----------------------------- FOOTER --------------------------------------//
.footer{
    margin: 0 auto;
    p{
        padding: 15px;
    }
}
//--------------------------- END FOOTER -------------------------------------//