@media (max-width: 1120px){
    .blog__items {
        display: flex;
        justify-content: center;
      }
      .blog__item {
        margin:0px 30px;
        margin-bottom: 20px;
      }
      .footer__top{
          justify-content: center;
      }
      .footer__instagram{
        width: 100%;
      }
      .footer__instagram img{
          width: 160px;
          height: 160px;
      }
      .footer__instagram-imgs{
          justify-content: center;
      }
}
@media (max-width: 992px) {
    .menu__btn{
        display: block;
    }
    .header__menu-list{
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;

        width: 100%;
        text-align: center;
        background-color: goldenrod;
        z-index: 15;
    }
    .header__menu-item{
        display:block;
        padding: 0;
    }
    .header__menu-item + .header__menu-item{
        padding-left: 0px;
    }
    .header__menu-item a{
        display: block;
        padding: 15px 0px;
    }
    .footer__social{
        margin: 25px 40px;
    }
    .footer__instagram {
        margin: 25px 40px;
    }

}

@media (max-width: 768px){
    .menu__quote:after,
    .menu__quote::before{
        display: none;
    }
    .menu__quote{
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu__block-right .menu__block-info{
        /* float: right; */
        margin-left: 0%;
    }
    .blog__item {
        width: 100% ;
        margin-bottom: 20px;
        
      }
      .footer__social{
          margin: 25px 20px;
      }
      .footer__social-form input[type="email"]{
        width: 300px;
      }

}

@media (max-width: 480px){
    .header__menu-list{
        top: 150px;
    }
    .header__inner{
        flex-wrap:wrap;
    }
    .header__to-book{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
    }
    .menu__block-info{
        padding: 30px 20px 50px 20px;
    }
    .footer__social-form input[type="email"]{
        width: 100%;
    }
    .footer__social-form input[type="submit"]{
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;

    }
} 
@media (max-width: 414px){
    .top__titel{
        font-size: 50px;
    }
}
@media (min-width: 992px){
    .header__menu-list{
        display: block !important;
    
    }
}
